body {
  background-color: #FADCD9;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav-wrapper {
  display: flex;
  width:100%;
  height: 15vh;
  background: #F9F1F0;
  justify-content: space-evenly;
}
.nav-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 50px;
  background: #F79489;
  border-radius: 20px;
  margin:4%;
}
.nav-buttons-wrapper:hover {
  opacity: 80%;
  transform: scale(120%);
}
.description {
  width: 70%;
}
.gallery-wrapper {
  width:700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F79489;
  margin: 3%;
}
.left-arrow {
  margin: 3%;
  border: 100px solid transparent;
  border-right: 50px solid red;
}
.right-arrow {
  margin: 3%;
  border: 100px solid transparent;
  border-left: 50px solid red;
}
.right-arrow:hover {
  transform: scale(120%);
  opacity: 70%;
}
.left-arrow:hover {
  transform: scale(120%);
  opacity: 70%;
}